 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 2317px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 152px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 2107px;
  margin: 10px 68px -9px 387px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 96px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2016px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 173px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-bottom: 60px;
  }
}