 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/1000_F_105379120_j7Qvc3Af9Ai6EwtJC0KRHboxOBuMK7du.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 1193px;
}

.u-section-1 .u-group-1 {
  width: 573px;
  min-height: 523px;
  background-image: linear-gradient(151deg, #404040, #333333), linear-gradient(to bottom, rgba(51, 51, 51, 1), rgba(51, 51, 51, 1));
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  margin: 237px auto 0 33px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px 30px 40px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0 13px;
}

.u-section-1 .u-text-2 {
  line-height: 1;
  background-image: none;
  font-size: 6rem;
  text-transform: none;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 27px auto 0 0;
  padding: 13px 60px 13px 59px;
}

.u-section-1 .u-image-1 {
  width: 302px;
  height: 532px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -532px 105px 0 auto;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  margin: -29px 37px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 1093px;
  min-height: 276px;
  background-image: linear-gradient(151deg, #404040, #333333), linear-gradient(to bottom, rgba(51, 51, 51, 1), rgba(51, 51, 51, 1));
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  margin: 73px auto 60px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px 0;
}

.u-section-1 .u-text-4 {
  line-height: 1;
  background-image: none;
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 5px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-transform: none;
  margin: 20px auto 0 13px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-1 .u-group-1 {
    --top-left-radius: 50px;
    --top-right-radius: 50px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 6.875rem;
  }

  .u-section-1 .u-group-2 {
    --top-left-radius: 50px;
    --top-right-radius: 50px;
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 6.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    text-transform: uppercase;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 20.61% 73.51%;
    background-size: auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 48.53% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.875rem;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-4 {
    font-size: 4.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1748px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-image-1 {
    margin-right: 38px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-group-2 {
    min-height: 348px;
    margin-top: 62px;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-5 {
    text-transform: none;
  }
} .u-section-2 {
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/ScreenShot2024-11-19at12.09.00AM.png');
  background-position: 50% 50%, 50% 92.33%;
}

.u-section-2 .u-sheet-1 {
  min-height: 582px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 416px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-2 .u-group-1 {
  width: 629px;
  height: auto;
  background-image: linear-gradient(151deg, #404040, #333333);
  --radius: 50px;
  min-height: 365px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 19px auto 0 5px;
}

.u-section-2 .u-text-2 {
  margin: 0 47px 0 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-2 .u-group-1 {
    --radius: 10px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 528px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 5px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 328px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: url("images/360_F_679870832_w2jlmfSex8CA5bPDoIoVMgHIdjWCSd7V.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 944px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 78px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 26px 21px 0;
}

.u-section-3 .u-list-1 {
  margin-top: 62px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 304px;
  grid-gap: 24px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(151deg, #404040, #333333);
  background-size: cover;
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 24px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(151deg, #404040, #333333);
  background-size: cover;
  --radius: 50px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 24px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(151deg, #404040, #333333);
  background-size: cover;
  --radius: 50px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 188px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 251px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 174px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1480px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 489px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 577px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 845px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -755px;
    margin-bottom: -301px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-3 {
    margin-top: 335px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1822px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 50px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 33px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1438px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 354px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}